<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>

<%- include("./partials/nav.ejs") %>

    <div class="content blogs">
        <h2>Listado de blogs</h2>
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %> </h3>
                <p class="resume"><%= blog.resume %></p>
            <% }) %>   
       <% } else {%>
        <h3>No hay blogs</h3>
        <% } %>
    </div>
    <%- include("./partials/footer.ejs") %>
</body> 
</html>